[add_event]
title_add_event=Fügen Sie ein neues Event hinzu

[register]
heading_register=lege ein neues Benutzerkonto an
username=Benutzername
email=email
password_0=Passwort
password_1=Passwort wiederholen
err_username_empty=Benutzername darf nicht leer sein
err_username_too_long=Benutzername ist zu lang
err_email_empty=email darf nicht leer sein
err_email_invalid=Geben Sie bitte eine gültige email ein
err_password_too_short=Passwort ist zu kurz
err_password_too_long=Passwort ist zu lang
err_passwords_not_equal=Leserechtschreibschwäche? Die eingegebenen Passwörter stimmen nicht überein
err_user_exists=Amnesie? der Benutzer existiert bereits

