#sections must have the excact same name as actions. For Example action add_event equals to section add_event. 
#The action name is stored in the smarty variable CURRENT_ACTION

#global variables

#sections
[add_event]
title_add_event=add a new event

[register]
username=username
email=email
password_0=password
password_1=repeat password
err_username_empty=username must not be empty
err_username_too_long=username is too long
err_email_empty=email must not be empty
err_email_invalid=please enter a valid email
err_password_too_short=password too short
err_password_too_long=password is too long
err_passwords_not_equal=the passwords you entered are not equal
err_user_exists=user already exists
