

<h1>{#title_add_event#}</h1>
<form action="{$SCRIPT_NAME}?action=add_event" method="post" id="form_add_event">
    <div>
        <label for="title">title</label><input type="text" name="title" id="title">{$ERROR_TITLE}
    </div>
    <div>
        <label for="suggestions">label</label><input type="text" name="input_label" id="input_label" autocomplete="off">
        <div id="suggestions_label">
        </div>
        <div id="selected_labels">
            <input type="text" name="label" id="label" style="display:none">
        </div>
    </div>
   <div>
       description:<textarea name="description" id="description" cols="30" rows="10"></textarea>{$ERROR_DESCRIPTION}
   </div> 
    <div>
        <input type="checkbox" name="fixed_date" id="fixed_date"checked> <label for="fixed_date">fixes Datum</label>
    </div>
    <div>
        <input type="date" name="start_date" id="start_date">
        <input type="time" name="start_time" id="">
    </div>
    <div>
        <input type="checkbox" name="fixed_location" id="fixed_location" checked>fixer Ort
        
    </div>  
    <div>
        Ort: <input type="text" name="location" id="location">
    </div>
    <div>
        <input type="checkbox" name="limited_number_of_participants" id="limited_number_of_participants" checked>begrenzte Teilnehmeranzahl
    </div>
    <div>
        number_of_participants:<input type="number" name="max_number_of_participants" id="max_number_of_participants">
    </div>
    <div>
        <input type="checkbox" name="advance_reservation_required" id="advance_reservation_required" checked>advance_reservation_required
    </div>
    <div>
        <input type="checkbox" name="confirm_reservations" id="confirm_reservations" >confirm_reservations
    </div>
    <input type="submit" value="create event"> 
    
</form>

{include file="templates/modules/template_label.html"}

<p id='test'></p>

<script src="templates/main.js"></script>
<script>
    var input_label = document.getElementById('input_label');
    var input_fixed_date = document.getElementById('fixed_date');
    var input_start_date = document.getElementById('start_date');
    var input_fixed_location = document.getElementById('fixed_location');
    var input_location = document.getElementById('location');
    var input_limited_number_of_participants = document.getElementById('limited_number_of_participants');
    var input_max_number_of_participants = document.getElementById('max_number_of_participants');
    var input_advance_reservation_required = document.getElementById('advance_reservation_required');
    var input_confirm_reservations = document.getElementById('confirm_reservations');

    

    input_fixed_date.addEventListener('click', function() {
        if (input_fixed_date.checked) {
            input_start_date.parentNode.style.display = "block";
        } else {
            input_start_date.parentNode.style.display = "none";
        }
    });

    input_fixed_location.addEventListener('click', function() {
        if (input_fixed_location.checked) {
            input_location.parentNode.style.display = "block";
        } else {
            input_location.parentNode.style.display = "none";
        }
    });

    input_limited_number_of_participants.addEventListener('click', function() {
        if (input_limited_number_of_participants.checked) {
            input_max_number_of_participants.parentNode.style.display = "block";
        } else {
            input_max_number_of_participants.parentNode.style.display = "none";
        }
    });

    input_advance_reservation_required.addEventListener("click", function() {
        if (input_advance_reservation_required.checked) {
            input_confirm_reservations.parentNode.style.display = "block";
        } else {
            input_confirm_reservations.parentNode.style.display = "none";
        }
    })

    input_label.addEventListener("keyup", function() {
       var label_arguments = {
            lang : getQueryParams(document.location.search).lang,
            input_elem : document.getElementById("input_label"),
            div_suggestions : document.getElementById("suggestions_label"),
            div_selected : document.getElementById("selected_labels"),
            
        } 
       requestLabelSuggestions(label_arguments);
    });

    document.getElementById("form_add_event").addEventListener("submit", function() {
        document.getElementById("label").value = JSON.stringify(array_selected_label);
        
    });

    
</script>
