{$smarty.get.message}
welcome back {$smarty.session.username}
id: {$smarty.session.user_id}
<div id="own_events" style="margin-left: 50px;width:200px">
    <h2>own events</h2>
    <div id="boxes_own_events"></div>
    <button id="more">more</button>
</div>

{include file='templates/modules/template_box_event.html'}

<script src="./templates/main.js"></script>

<script>
    var args_own_events = {
        "target_div" : document.getElementById("boxes_own_events")
    };
    var ajax_request_own_events = (function() {
        var offset = 0;
        return function() {
            ajax_request("./ajax.php?action=own_events&user_id={$smarty.session.user_id}&offset=" + offset, displayEventBox, args_own_events);
            offset += 5;
        };
    })();

    // event listeners
    window.addEventListener("load", function() {
        ajax_request_own_events();
    });
     
    document.getElementById("more").addEventListener("click", function() { 
        ajax_request_own_events();
    });


    
</script>