{$smarty.get.message}
welcome back {$smarty.session.username}
id: {$smarty.session.user_id}
<div id="own_events" style="margin-left: 50px;width:200px">
    <h2>own events</h2>
    <div id="boxes_own_events"></div>
    <button id="more">more</button>
</div>

<template> 
    <a>
        <div>
           <h3></h3>
            <span id="start_date"></span> 
        </div>      
    </a> 
    <hr>   
</template>

<script src="./templates/ajax.js"></script>

<script>
    var do_ajax_request = (function() {
        var offset = 0;
        return function() {
            ajax_request("./libs/get_own_events.php?user_id={$smarty.session.user_id}&offset=" + offset,load_events);
            offset += 5;
        };
    })();

    // event listeners
    window.addEventListener("load", function() {
        do_ajax_request();
    });
     
    document.getElementById("more").addEventListener("click", function() { 
        do_ajax_request();
    });
    // callback functions

    // display events in the div boxes_own_event
    function load_events(xhttp) {
        var events = JSON.parse(xhttp.responseText);
        var boxes_own_events = document.getElementById("boxes_own_events");
        var event_template = document.querySelectorAll("template")[0];
        events.forEach(element => {
            var clon = event_template.content.cloneNode(true);
            clon.querySelectorAll("a")[0].href = "index.php?action=event&id="+element.event_id;
            clon.querySelectorAll("h3")[0].innerHTML = element.event_title;
            clon.getElementById('start_date').innerHTML = element.start_date;
             boxes_own_events.appendChild(clon);
        });  
    }

    
</script>