<h1>event view</h1>
{if $smarty.session.user_id == $EVENT.creator_id}
<a href="#">edit event</a>
{/if}

<h2>{$EVENT.event_title}</h2>
<p>Erstellt von einem User mit der ID {$EVENT.creator_id}</p>
<hr>

<p>{$EVENT.event_description}</p>

{foreach from=$LABEL key=key item=label}
<span class="border text-primary tag">{$label.label_name}</span>
{/foreach}

<br>

<p><i class="material-icons event_inf_icon">event</i> {$EVENT.start_date} {$EVENT.start_time}</p>

{if $EVENT.limited_number_of_participants == true}
<p class="event_inf"><i class="material-icons event_inf_icon">accessibility_new</i>Teilnehmerbegrenzung von {$EVENT.max_number_of_participants}</p>
{else}
<p class="event_inf"><i class="material-icons event_inf_icon">accessibility_new</i>keine Teilnehmerbegrenzung </p>
{/if}


{if $EVENT.advance_reservation_required == true}
<button type="submit" class="btn btn-primary" disabled>Anmelden</button>

{if $EVENT.confirm_reservations == true}
<div>Anmeldungen müssen erst akzeptiert werden</div> 
{/if}
{else}
<button type="submit" class="btn btn-primary" disabled>Anmeldung nicht erforderlich</button>
{/if}


