/*prevent autozoom on iOS devices*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	select,
    textarea,
    input {
      font-size: 16px;
    }
  }


li.nav-item {
	padding: 0 10px;
}

.content {
	padding: 0 10px;
	margin: auto;
}


/*event.html*/
.event_inf_icon {
	transform: translate(0,5px);
}

/*template_label.html*/
.cross:hover {
	cursor: pointer;
}

.tag {
	display: inline-block;
	margin: 1px;
	padding: 1px;
	border-radius: 5px;
}

@media screen and (min-width: 1000px) {
	.content {
		width: 75%;
	}
}

@media screen and (min-width: 1300px) {
	.content {
		width: 50%;
	}
}