<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" href="{$SCRIPT_NAME}?action=index&lang={$CURRENT_LANG}">index</a></li>
    <li class="nav-item"><a class="nav-link" href="{$SCRIPT_NAME}?action=add_event&lang={$CURRENT_LANG}">add event</a></li>
    <li class="nav-item"><a class="nav-link" href="{$SCRIPT_NAME}?action=search&lang={$CURRENT_LANG}">search</a></li>
   {if $smarty.session.active == true}
   <li class="nav-item"><a class="nav-link" href="{$SCRIPT_NAME}?action=dashboard&lang={$CURRENT_LANG}">dashboard</a></li>
    username: {$smarty.session.username}
    <li class="nav-item"><a class="nav-link" href="{$SCRIPT_NAME}?action=logout&lang={$CURRENT_LANG}">log out</a></li>
    {else}
    <li class="nav-item"><a class="nav-link" href="{$SCRIPT_NAME}?action=register&lang={$CURRENT_LANG}">register</a></li>
    <li class="nav-item"><a class="nav-link" href="{$SCRIPT_NAME}?action=login&lang={$CURRENT_LANG}">log in</a></li>
    {/if}
    <li><a class="nav-link languages" href="{$SCRIPT_NAME}?action={$CURRENT_ACTION}&lang=de">de</a></li>
    <li><a class="nav-link languages" href="{$SCRIPT_NAME}?action={$CURRENT_ACTION}&lang=en">en</a></li>
</ul>
