<h2>{#heading_register#}</h2> 
{#$ERROR_REGISTER#}
<form action="{$SCRIPT_NAME}?action=register&lang={$CURRENT_LANG}" method="POST">
    {#username#}<input type="text" name="username" id="username" value="{$smarty.post.username}">{#$ERROR_USERNAME#}</br>
    {#email#}<input type="email" name="email" id="email"value="{$smarty.post.email}">{#$ERROR_EMAIL#}</br>
    {#password_0#}<input type="password" name="password_0" id="password_0">{#$ERROR_PASSWORD_0#}</br>
    {#password_1#}<input type="password" name="password_1" id="password_1">{#$ERROR_PASSWORD_1#}</br>
    <input type="submit" value="register">
</form> 