<h1>search</h1>


<form action="{$SCRIPT_NAME}" method="get" id="form_search">	
	<div class="form-group">
		<input type="text" name="action" value="search" style="display: none">
		<input class="form-control" type="text" name="q" id="q" value="{$smarty.get.q}" placeholder="Suche">
	</div>
    <div class="form-group">
        <label for="suggestions">Labels:</label>
		<input class="form-control" type="text" name="input_label" id="input_label" autocomplete="off">
        <div id="suggestions_label">
        </div>
        <div id="selected_labels">
            <input type="text" name="label" id="label" style="display:none">
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="search">
</form>

<div id="events" style="width:200px">
    <div id="box_events"></div>
    <button class="btn" id="more" style="display: none">more</button>
</div>

{include file="templates/modules/template_label.html"}
{include file="templates/modules/template_box_event.html"}

<script src="./templates/main.js"></script>

<script>
    var q_elem = document.getElementById("q");
    var btn_more =   document.getElementById("more");
    var input_label = document.getElementById('input_label');
    var label_arguments = {
            lang : getQueryParams(document.location.search).lang,
            input_elem : input_label,
            div_suggestions : document.getElementById("suggestions_label"),
            div_selected : document.getElementById("selected_labels")
        }
 
    var args_result_events = {
        "target_div" : document.getElementById("box_events"),
        "btn_more" : document.getElementById("more")
    };

    var ajax_request_box_event = (function() {
        var offset = 0;
        return function() {
            var get = getQueryParams(window.location.search);
            ajax_request("./ajax.php?action=search_results&offset=" + offset + "&q=" + get['q'],displayEventBox, args_result_events);
            offset += 5;
            
        };
    })();
    // event listeners
    window.addEventListener("load", function() {
        ajax_request_box_event();
     });
     
    btn_more.addEventListener("click", function() { 
        ajax_request_box_event();
    });

    input_label.addEventListener("keyup", function() {      
       requestLabelSuggestions(label_arguments);
    });

    document.getElementById("form_add_event").addEventListener("submit", function() {   
        document.getElementById("label").value = JSON.stringify(array_selected_label);      
    });

    
</script>